@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-Bold.woff2") format("woff2"),
        url("./assets/fonts/Raleway-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-Regular.woff2") format("woff2"),
        url("./assets/fonts/Raleway-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cookie";
    src: url("./assets/fonts/Cookie-Regular.woff2") format("woff2"),
        url("./assets/fonts/Cookie-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-SemiBold.woff2") format("woff2"),
        url("./assets/fonts/Raleway-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-ExtraBold.woff2") format("woff2"),
        url("./assets/fonts/Raleway-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
